<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        tools:replace="android:fullBackupContent">
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travium"
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Travium">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.HomePageActivity"
            android:exported="false"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.FavouriteActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.AddFavouriteActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.SetTripGroupActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.DisplayTripGroupActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:exported="true"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.MakePostActivity"
            android:exported="false"
            android:theme="@style/Theme.Travium" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Travium" />
    </application>

</manifest>